<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Movies</title>

    <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>

    <body>
        <div class="top">

            <h1>Movies</h1>

            <div class="nav">
                <button class="btn-general" onclick="location.href='/'">Beginning</button>
                <button class="btn-general" onclick="location.href='/random'">Random</button>
                <button class="btn-general" onclick="location.href='/list'">List</button>
            </div>
        </div>


        {%if disp == "list"%}
            <div class="movieCont list">
        {%else%}
            <div class="move">
                {% if index != 0 %}
                <button class="btn-general" onclick="location.href='/?index={{index-3}}'">Previous</button>
                {% endif %}
                {% if index != 999 %}
                <button class="btn-general" onclick="location.href='/?index={{index+3}}'">Next</button>
                {% endif %}
            </div>
            <div class="movieCont">
        {%endif%}

            {% for n in my_list %}

                <div class="movie">
                <h2>{{n.title}}</h2>
                <p>{{n.description}}</p>
                <h3>Cast</h3>
                {% for a in n.actors %}
                    <li>{{a}}</li>
                {% endfor %}
                <h3>Genres</h3>
                {% for g in n.genres %}
                        {{g}}
                        {{ ", " if not loop.last }}
                {% endfor %}
                </div>
            {% endfor %}

            </div>
                <div class="count">
                    {{(index/3)|int}}/333
                </div>

    </body>
</html>